<h1>All the Projects</h1>

<ul>
<% @projects.each do |proj| %>
    <li>
        <%= link_to proj.name, project_path(proj) %>
    </li>
<% end %>
</ul>

<%= link_to 'Make New Project', new_project_path %>